$btn-primary-bg: #2EA2F8;
$btn-primary-border: #2A94E2;
$btn-primary-text: #FFF;

$btn-success-bg: #00B377;
$btn-success-border: #00A36D;
$btn-success-text: #FFF;

$btn-warning-bg: #FFA900;
$btn-warning-border: #DF9613;
$btn-warning-text: #4B3200;

$btn-alert-bg: #E6272E;
$btn-alert-border: #D2242A;
$btn-alert-text: #FFF;

